
*.class
*.log
back/.idea/$CACHE_FILE$
back/.idea/.name
back/.idea/codeStyles/codeStyleConfig.xml
back/.idea/compiler.xml
back/.idea/misc.xml
back/.idea/vcs.xml
back/log/all.log.2021-10-21
*.2021-10-22
back/log/all.log.2021-10-25
back/log/all.log.2021-10-26
